<div class="yasemin">

    <header>
        <div class="wrapper">
            <aside class="left">
                <a [routerLink]="['/yasemin']" class="logo"></a>
                <a [routerLink]="['/yasemin']"  class="full-name"></a>
            </aside>
            <aside class="right">

                <div class="social-icons">
                    <a class="behance" target="_blank" href="https://behance.net/yasemincikrikci"></a>
                    <a class="linked-in" target="_blank" href="https://linkedin.com/in/yasemincikrikci"></a>
                </div>
            </aside>
        </div>
    </header>
    <div class="wrapper">
        <div class="content">

            <router-outlet></router-outlet>

        </div>
    </div>
    <footer>

        <div class="email">
            <a href="mailto:yasemin@hellotica.com">yasemin@hellotica.com</a>
        </div>
        <div class="phone">+44 7379 429 959</div>


    </footer>

</div>